<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.country_select field.attribute, priority_countries: field.priority_countries, include_blank: field.include_blank? %>
</div>
